.weatherContainer {
  display: block;

  @media (min-width: 776px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    border-radius: 12px;
  }
}

.topBar {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.topBar input {
  display: flex;
  width: 200px;
  height: 38px;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: #ebfffc;
  border-radius: 40px;
  cursor: pointer;

  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.searchIcon:hover,
.searchIcon:focus {
  cursor: pointer;
  opacity: 0.7;

  transform: scale(1.2);
}
.weatherImage {
  margin-top: 12px;

  @media (min-width: 776px) {
    margin-top: 0;
  }
}

.weatherTemp {
  color: white;
  font-size: 36px;
  font-weight: 400;
}
.weatherLocation {
  color: white;
  font-size: 36px;
  font-weight: 400;
}
.dataContainer {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  color: white;
  display: flex;
  justify-content: center;

  @media (min-width: 776px) {
    margin-top: 0;
    gap: 26px;
  }
}
.element {
  display: flex;
  align-items: center;
  gap: 6px;
}

.data {
  font-size: 14px;
  font-weight: 400;
}
.textWeather {
  font-size: 14px;
  font-weight: 400;
}
