.headerContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  gap: 10px;

  @media (min-width: 776px) {
    gap: 40px;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 120px;
  }
}

.randomQuotePage, .ImageGeneratorPage {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868686;
  font-size: 16px;
  font-weight: bold;

  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.active {
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px 29px rgba(255,255,255,0.6);
  font-size: 24px;
}
.randomQuotePage:hover, .ImageGeneratorPage:hover {
  transform: scale(1.1); /* Збільшуємо розмір тексту при наведенні */
}
